.headerSection {
  padding: 1em 6em;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.egr-logo {
  width: 200px;
}

.headerLinks {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.explore,
.docs,
.about,
.metrics {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.explore:hover,
.docs:hover,
.about:hover,
.metrics:hover {
  color: #55bc7e;
}
.activeLink {
  color: #55bc7e;
  font-size: 15px;
  font-weight: 800;
}
.activeLink:hover {
  color: #806600;
}

.headerButtons {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
}
.getLoan {
  margin-right: 15px;
  padding: 1em 1.5em;
  border: solid;
  border-color: #55bc7e;
  color: #55bc7e;
  border-width: 2px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.getLoan:hover {
  color: #ffff;
  border-color: #61ab00;
}
.getLoan:hover > .getLoanHover {
  display: block;
}

.getLoanHover {
  border: solid;
  border-color: #61ab00;
  border-width: 2px;
  background: #61ab00;
  color: #ffff;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  display: none;
  animation: growInRight 0.3s linear;
  z-index: -1;
}
@keyframes growInRight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.connect {
  padding: 1.15em 1.5em;
  background: #55bc7e;
  color: #ffff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.connectHover {
  border-radius: 10px;
  background: #61ab00;
  box-shadow: 0px 0px 15px rgb(208, 208, 208);
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  display: none;
  animation: growInRightB 0.3s linear;
  z-index: -1;
}
.connect:hover {
  color: #ffffff;
  background: none;
}
.connect:hover > .connectHover {
  display: block;
}
@keyframes growInRightB {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


.hamburgerOpen{
  display: none;
}